.Add_Form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.Add_Form .inputComponent {
    margin-bottom: 15px;
}

.Add_Form .inputComponent label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.Add_Form .inputComponent input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: medium;
}

.Add_Form .inputComponent input:focus {
    border-color: #007bff;
    outline: none;
}

.Add_Form textarea{
    width: 100%;
    height: 100px;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.Add_Form input:focus, textarea:focus{
    border-color: #007bff;
    outline: none;
}